# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
.next/
dist/
out/
build/
.cache/

# Logs
logs
*.log

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Strapi
admin/.cache/
admin/build/

# System / OS
.DS_Store
Thumbs.db
